.container {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c4d9ffff;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    background-color: #c4d9ffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    word-spacing: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.list-format {
    font-family: 'Roboto', sans-serif;
    background-color: #c4d9ffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    word-spacing: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    background-color: #c4d9ffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 20px;
    word-spacing: 0px;
}

h1 {
    font-family: 'Roberto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    font-family: 'Roberto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}

h3 {
    font-family: 'Roberto', sans-serif;
    font-size: 32px;
    text-align: left;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}


h4 {
    font-family: 'Roberto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}

h5 {
    font-family: 'Roberto', sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 14px;
}

.intro {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

/* Crim page navigation */

.projects-box {
    background-color: #999999ff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
    border-color: #999999ff;
    border-width: 2px;
    border-radius: 10px;
}

ul.projects-nav {
    list-style-type: none;
    background-color: #595959ff;
    overflow: hidden;
    margin-top: 16px;
    margin-left: 0px;
    padding-top: 0%;
    padding-left: 0%;
}

li.projects-item {
    display: grid;
    float: center;
}

li.projects-item a {
    font-size: 15px;
    color: #eeeeee;
    text-decoration: none;
    padding: 14px;
}

li.projects-item a:hover {
    background-color: #999999ff;
    color: #eeeeee;
}

.criminology-grid {
    display: block;
}

.criminology-image {
    width: 90%;
    height: 90%;
    margin-left: 33px;
    margin-top: 33px;
}

.image-container {
    position: relative;
    width: 90%;
    height: 90%;
}

.overlay {
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 33px;
    right: 0;
    height: 90%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #595959ff;
}

.image-container:hover .overlay {
    opacity: 0.7;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 650px) {
    .criminology-grid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

/* Contact Stuff*/

.contact {
    display: grid;
    grid-template-columns: 30% 70%
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

form input,
textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form input[type='submit'] {
    width: 250px;
}

.submit-button-wrapper {
    margin: 8px 0;
}

.form-heading {
    margin-bottom: 8px !important;
}

@media (max-width: 650px) {
    .contact {
        grid-template-columns: 100%;
    }
}

/*nav bar */
ul.nav-bar {
    list-style-type: none;
    background-color: #595959ff;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

li.nav-item {
    display: inline;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

li.nav-item a {
    font-size: 18px;
    color: #eeeeee;
    text-decoration: none;
    padding: 20px;
}

li.nav-item a:hover {
    background-color: #999999ff;
    color: #eeeeee;
}

/*bottom nav bar */

ul.bottom-bar {
    list-style-type: none;
    background-color: #595959ff;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0%;
    padding-bottom: 0%
}

li.bottom-left a:hover {
    background-color: #999999ff;
    color: #eeeeee;
}

li.bottom-right a:hover {
    background-color: #999999ff;
    color: #eeeeee;
}

li.bottom-right a {
    display: inline;
    float: right;
    font-size: 18px;
    color: #eeeeee;
    text-decoration: none;
    padding: 20px;
}

li.bottom-left a {
    display: inline;
    float: left;
    font-size: 18px;
    color: #eeeeee;
    text-decoration: none;
    padding: 20px;
}

/* Project navigation */

.projects-box {
    background-color: #999999ff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
    border-color: #999999ff;
    border-width: 2px;
    border-radius: 10px;
}

ul.projects-nav {
    list-style-type: none;
    background-color: #595959ff;
    overflow: hidden;
    margin-top: 16px;
    margin-left: 0px;
    padding-top: 0%;
    padding-left: 0%;
}

li.projects-item {
    display: grid;
    float: center;
}

li.projects-item a {
    font-size: 15px;
    color: #eeeeee;
    text-decoration: none;
    padding: 14px;
}

li.projects-item a:hover {
    background-color: #999999ff;
    color: #eeeeee;
}

/* organize projects page */

.projects-about {
    display: grid;
    grid-template-columns: 30% 70%;
}

.project-section {
    margin-right: 25px;
}

@media (max-width: 650px) {
    .projects-about {
        display: block;
        width: 90%;
    }
}

/* home page headshot image */

.headshot-image {
    float: left;
    width: 20%;
    margin-right: 50px;
    margin-left: 25px;
    margin-bottom: 14px;
    margin-top: 0px;
}

@media (max-width: 650px) {
    .headshot-image {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}